#archive-database {
    position: relative;

    .adb-advanced-search {
        display: none;

        padding: 40px;
        width: 100%;

        .form-group {
            width: 45%;
            margin-right: 40px; 
            float: left;
            margin-bottom: 20px !important;

            label {
                min-width: 140px;
            }
        }
    }

    .table-editbar {
        background-color: #FFF;
        border: 1px solid #F0F0F0;

        display: flex;
        justify-content: space-between;

        .right {
            max-width: 100% !important;
            width: 100%;
        }

        .left, .right {
            max-width: 50%;

            .form-group {
                margin-bottom: 0;
                float: left;

                label {
                    padding-right: 10px;
                }

                input {
                    box-shadow: none;

                    &:focus {
                        border: 1px solid #333;
                    }
                }

                + a {
                    line-height: 40px;
                    padding-left: 20px;
                }
            }
        }
    }
    .grid {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto !important;
        align-items: flex-start;

        .grid-element {
            max-width: 260px;
            min-width: 260px;
            margin: 0 10px 20px 0;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:nth-child(4n) {
                margin-right: 0;
            }

            img {
                width: 100%;
                max-width: 100%;
            }

            background-color: white;
            div:not(#image_url) {
                padding: 10px;
                font-size: 0.9em;
                color: @color-grey;
            }
            #title {
                min-height: 68px;
                span {
                    color: @color-grey-dark;
                    font-size: 1.225em;
                    line-height: 1.5em;
                }
            }
        }
    }
}
.detail-image.row {
    padding-top: 40px;
}
.zapper {
    position: fixed;
    top: 0;
    display: flex;
    width: 90%;
    left: 5%;
    justify-content: space-between;

    .next, .prev {
        position: absolute;
        margin-top: 140px;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:before, &:after {
            position: absolute;
            height: 2px;
            background-color: @color-grey-dark;
            width: 100%;
            content: '';
            transform: rotate(45deg);
            top: 0px;
        }

        &:after {
            transform: rotate(-45deg);   
            top: 22px;
        }
    }
    .next {
        right: 0;
    }
    .prev {
        transform: rotate(-180deg);
    }
}